{{ partial "header" . }}

<main>

    {{ partial "list-item" . }}


    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}        

       <h5>{{ $.Scratch.Get "subtitle" }}</h5>

    <br> <div class="text-">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}



    {{ if $related }}

        <h1 class="page-header">Related</h1>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}


    {{ end }}



    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

</main>

{{ partial "footer.html" . }}
